* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: #fff;
    --black: #000;
    --grey-600: #3d6666;
    --grey-550: #547878;
    --grey-500: #5e7a7d;
    --grey-400: #7f9d9f;
    --grey-300: #9ebbbd;
    --grey-200: #c5e4e7;
    --grey-50: #f3f9fa;

    --green-900: #00474b;
    --green-800: #085c61;
    --green-750: #0d686d;
    --green-400: #26c2ae;
    --green-200: #9fe8df;

    --orange-400: #e17052;

    --space-100: 0.8rem;
    --space-200: 1.6rem;
    --space-300: 2.4rem;
    --space-400: 3.2rem;
    --space-600: 4.8rem;
    --space-1000: 8rem;
    --space-1200: 9.6rem;
    --space-1500: 12rem;
    --space-1600: 12.8rem;

    --ff-family: 'Space Mono', sans-serif;
    --fs-1: 4.8rem;
    --fs-2: 3.2rem;
    --fs-3: 2.4rem;
    --fs-4: 2rem;
    --fs-5: 1.6rem;
    --fs-6: 1.3rem;
    --fw-bold: 700;

    --lh-ex-loose: 7.1rem;
    --lh-loose: 4.7rem;
    --lh-mid-loose: 3.6rem;
    --lh-medium: 3rem;
    --lh-tight: 2.4rem;
    --lh-ex-tight: 1.9rem;

    --ls-1: -1px;
    --ls-2: -0.67px;

}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--ff-family);
    font-weight: var(--fw-bold);
    background-color: var(--grey-200);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block-start: var(--space-600);
    margin-block-end: var(--space-400);
}

section {
    width: 100%;
    padding-block: var(--space-400);
    padding-inline: var(--space-300);
    background-color: var(--white);
    border-radius: 2rem 2rem 0 0;
}

.input__label, .display__label, .error-msg {
    font-size: var(--fs-5);
    line-height: var(--lh-tight);
}

.input__label {
    color: var(--grey-500);
    margin-block-end: var(--space-100);
}

.display__label {
    color: var(--white);
}

input[type="radio"] {
    display: none;
}

label {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--fs-3);
    line-height: var(--lh-mid-loose);
    background-color: var(--green-900);
    color: var(--white);
    padding-inline: var(--space-200);
    padding-block: var(--space-100);
    border-radius: 0.5rem; 
    cursor: pointer;
}

label:hover {
    background-color: var(--green-400);
}

.radio__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--space-200);
}

input[type="text"] {
    text-align: right;
    border: none;
    font-size: var(--fs-3);
    line-height: var(--lh-mid-loose);
    background-color: var(--grey-50);
    color: var(--green-900);
}

input::placeholder {
    color: var(--grey-300);
    opacity: 1;
}

.input__group {
    display: flex;
    align-items: center;
    background-color: var(--grey-50);
    padding-block: var(--space-100);
    padding-inline: var(--space-400);
    border-radius: 0.5rem;
}

.input__group img {
    justify-self: flex-start;
}

.input__group input {
    width: 100%;
    margin-inline-start: auto;
}

.bill, .splitter, .tip-amounts {
    margin-block-end: var(--space-400);
}

.totals__container {
    background-color: var(--green-900);
    padding: var(--space-300);
    border-radius: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: var(--space-300);
    column-gap: var(--space-1000);
    align-items: center;
}

.display__total {
    font-size: var(--fs-2);
    letter-spacing: var(--ls-2);
    color: var(--green-400);
}

button[type="reset"] {
    font-family: var(--ff-family);
    font-weight: var(--fw-bold);
    background-color: var(--green-400);
    grid-column: span 2;
    border: none;
    border-radius: 1rem;
    padding-inline: var(--space-400);
    padding-block: var(--space-100);
    font-size: var(--fs-4);
    line-height: var(--lh-medium);
    color: var(--green-900);
    cursor: pointer;
}

button[type="reset"]:hover {
    background-color: var(--green-200);
}

.display__color--grey {
    color: var(--grey-400);
}

form:has(input:placeholder-shown) button[type="reset"] {
    background-color: var(--green-750);
    color: var(--green-800);
}

.input__label--custom {
    background-color: var(--grey-50);
    color: var(--grey-550);
}

.modal {
    margin: auto;
    padding: var(--space-200);
    gap: var(--space-100);
    border-radius: 0.5rem;
    border-color: var(--green-900);
}

.modal button {
    background-color: var(--green-900);
    color: var(--white);
    padding-inline: var(--space-200);
    padding-block: var(--space-100);
    border: none;
    width: 100%;
    font-family: var(--ff-family);
    font-weight: var(--fw-bold);
}

.modal input {
    padding-inline: var(--space-200);
    font-family: var(--ff-family);
    width: 100%;
}

.modal::backdrop {
    background-color: rgba(20, 20, 20, 0.5);
    backdrop-filter: blur(4px);
}

.splitter__label {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.error {
    outline: 2px solid var(--orange-400);
}

.error-msg {
    color: var(--orange-400);
}

.error-msg-tip {
    color: var(--orange-400);
    font-size: var(--fs-6);
    grid-column: span 2;
    justify-self: center;
}

.hidden {
    display: none;
}

input:focus, input:active {
    outline: none;
}

.input__group:has(input:focus), .input__group:has(input:active), .input__group:hover {
    outline: 2px solid var(--green-400);
}

.radio__custom-button {
    border: none;
    font-family: var(--ff-family);
    font-size: var(--fs-3);
    font-weight: var(--fw-bold);
    border-radius: 0.5rem;
    cursor: pointer;
    background-color: var(--grey-50);
    color: var(--grey-550);
}

.radio__custom-button:hover {
    background-color: var(--grey-200);
}

.radio__custom-button:focus, .radio__custom-button:active {
    outline: 2px solid var(--green-400);
}

@media (min-width: 600px) {
    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-inline: var(--space-600);
    }

    section {
        padding-block: var(--space-600);
        padding-inline: var(--space-1000);
        border-radius: 2rem;
        max-width: 95rem;
    }

    .radio__container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1080px) {
    form {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: var(--space-600);
    }

    section {
        padding: var(--space-400);
    }
}